[project]
name = "bentoml-faster-whisper"
version = "1.0.0"
requires-python = "==3.12.7"
dependencies = [
    "bentoml==1.4.30",
    "fastapi>=0.115.5",
    "faster-whisper==1.2.1",
    "torch>=2.6.0",
    "pydantic~=2.12.0",
    "requests~=2.32.3",
    "ctranslate2~=4.6.0",
    "python-dotenv~=1.2.0",
    "uvicorn~=0.39.0",
    "pydub>=0.25.1",
    "pyannote-audio>=3.3.2",
    "loguru>=0.7.3",
    "numpy>=2.2.0",
]
[dependency-groups]
dev = [
    "mypy>=1.15.0",
    "pytest~=9.0.0",
    "openai>=1.65.1",
]

[tool.bentoml.build]
service = "service:FasterWhisper"
description = "OpenAI compatible ++ FasterWhisper API"
include = ["*.py", "path/to/a/file.csv"]
exclude = ["tests/", "launch.py"]

[tool.bentoml.build.labels]
owner = "Yanick-Schraner"
stage = "production"

[tool.uv.sources]
torch = [
  { index = "pytorch-cu124", marker = "sys_platform == 'linux' or sys_platform == 'win32'" },
]
torchvision = [
  { index = "pytorch-cu124", marker = "sys_platform == 'linux' or sys_platform == 'win32'" },
]

[[tool.uv.index]]
name = "pytorch-cu124"
url = "https://download.pytorch.org/whl/cu124"
explicit = true

[tool.ruff]
target-version = "py312"
line-length = 120
fix = true